In [21]:
install pandas as pd

SyntaxError: invalid syntax (2367453110.py, line 1)

In [22]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [16]:
pd.__version__

NameError: name 'pd' is not defined

In [24]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\envs\priya\lib\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.20.3 in c:\users\admin\anaconda3\envs\priya\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\envs\priya\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\envs\priya\lib\site-packages (from pandas) (2022.6)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\envs\priya\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [6]:
'1,5,2'

'1,5,2'

In [7]:
pd.__version__

'1.5.2'

In [9]:
a1=pd.Series([2,4,5],index=[5,6,7])

In [10]:
print(a1)

5    2
6    4
7    5
dtype: int64

In [13]:
season={"rainy":{1:'nov',2:'dec',3:'jan',4:'feb'},"dry":{1:'mar',2:'apr',3:'may',4:'jum'}}

In [21]:
d=pd.DataFrame(season,columns=["rainy","dry"])

In [22]:
print(d)

  rainy  dry
1   nov  mar
2   dec  apr
3   jan  may
4   feb  jum

In [27]:
import numpy as np

In [29]:
a=pd.DataFrame(np.random.randint(0,300,size=(20,4)),columns=list(('abcd')))

In [30]:
print(a)

      a    b    c    d
0   235   25   56  108
1    48   68   87  207
2   222  102  254   94
3    51  138  183  279
4   188  207   75  275
5    41  249   24  182
6   236  202    7  131
7    74  282  129  166
8    20  141  209  299
9   125  220  140   37
10  218  121  299  149
11  120   42  225   65
12  192   33  105  103
13   10  237  110   91
14  197   81  161  129
15  295  259   67  286
16  176  152  223  188
17   14   10  165   56
18  157  178  125    6
19  175  250    6  185

In [36]:
a.to_csv('D:/Deepan/asda.csv')

In [37]:
a

      a    b    c    d
0   235   25   56  108
1    48   68   87  207
2   222  102  254   94
3    51  138  183  279
4   188  207   75  275
5    41  249   24  182
6   236  202    7  131
7    74  282  129  166
8    20  141  209  299
9   125  220  140   37
10  218  121  299  149
11  120   42  225   65
12  192   33  105  103
13   10  237  110   91
14  197   81  161  129
15  295  259   67  286
16  176  152  223  188
17   14   10  165   56
18  157  178  125    6
19  175  250    6  185

In [38]:
a.drop("unmaed:0",axis=1)

KeyError: "['unmaed:0'] not found in axis"

In [39]:
d.shape

(4, 2)

In [40]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rainy   4 non-null      object
 1   dry     4 non-null      object
dtypes: object(2)
memory usage: 96.0+ bytes